* {
margin: 0;
padding: 0;
font-family: sans-serif;
}

body {
  background: rgb(255, 218, 213);
}

.item {
  width: 250px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  margin: 20px;
}

.item img {
  width: 200px;
}

.item h3 {
  padding-top: 20px;
}

.item p {
  font-size: 13px;
  color: #31B6B0;
  padding: 10px 0 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 150px;
  position: relative;
}